<tr>
  <td><%= link_to product.title, product, remote: true  %></td>
  <td><%= product.description %></td>
  <td><%= product.country %></td>
  <td><%= product.tags %></td>
  <td><%= '$' + product.price.to_s %></td>
</tr>
